html {
  margin: 10px;
}
body {
  padding: 0%;
  margin: 25px;
}
.containeur {
  margin: 15px;
  background-color: #e1bb80;
  border-radius: 10px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo{
margin-left: 10px;
}
.fa-shopping-cart {
  padding: 10px;
  font-size: 30px;
}
a {
  text-decoration: none;
}